PROJECT_NAME="Document Image Enhancement API"
API_V1_PREFIX="/api/v1"
CORS_ORIGINS='["http://localhost:3000","http://127.0.0.1:3000"]'
MAX_UPLOAD_MB=50
PDF_RENDER_DPI=200
CLASSIFICATION_MODEL_PATH="AI_models/mobilenet_v3_small_quant.onnx"
AI_RESTORATION_SPACE="elnino1512/AI-Document-image-enhencement"
AI_RESTORATION_API_NAME="/restore_image"
R2_ACCOUNT_ID=be078cc5bf4a4609fb0e7505ac8381dc
R2_ACCESS_KEY_ID=f5eb6201fe067764a5321b86f7196d9e
R2_SECRET_ACCESS_KEY=fbd98520ee7ea428feb522ac8effb55c3998eb1d0f0cc47f2bad2f7a9b5984be
R2_BUCKET_NAME=restored-pdf-storage
