fastapi[standard]
uvicorn[standard]
python-multipart
pydantic-settings
boto3
PyMuPDF
pillow
onnxruntime
gradio_client
aiosqlite

# AI module dependencies
gradio
huggingface_hub
torch
torchvision
numpy
